.header{
    background-color: $color--white;
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    z-index: 999;
    
}


.logo{
    font-family: 'Averia Sans Libre', cursive;
}

.discover{
    background-color: $color--white;
    color: $color--purple;
    padding: 9px 25px 11px;
    border-radius: 24px;
    text-decoration: none;
    font-weight: 700;
}
.button{
    margin: 10px 35vw 10px;
}

.accueil{
    width: 168px;
    height: 54px;
    left: 64.49px;
    top: 12px;
}

.background--header{
    position: relative;
    width: 100vw;
    left: 3px;
    top: 72px;
}

.background--footer{
    position: relative;
    width: 100vw;
    top: 795px;
}

.text{
    font-size: 20px;

    &--intro{
        color: $color--grey;
        line-height: 150%;
        max-width: 88%;
        margin-left: 25px;
    }

    &--student{
        color: $color--grey;
        line-height: 150%;
        max-width: 88%;
        margin-left: 25px;
    }

    &--credits{
        color: $color--grey;
        line-height: 150%;
        text-align: center;
    }
}

.btn__loading{
    width: 100%;
    text-align: center;

    &--apple{
        width: 250px;
    }

    &--google{
        width: 250px;
    }
}


.section{
    width: 100%;

    &--intro{
        background-image: url("../assets/images/bg-header-mobile.png");
        background-repeat: no-repeat;
        background-size: 100vw;
    }

    &--footer{
        background-color: $color--purple;
    }
}

.footer{

    &--el{
        padding: 7px 0px;
        margin: 0;
        
        & a{
            color: $color--white;
            text-decoration: none;
        }
    }

}




.footer--list{
    padding: 0;
}

.dwt{
    width: 60px;
}
@media (min-width: 1000px) {
    .header{
        background-color: #ffffff;
        width: 100%;
        height: 75px;
        position: fixed;
        top: 0;
        z-index: 999;
        
    }


    .logo{
        font-family: 'Averia Sans Libre', cursive;
    }

    .accueil{
        width: 168px;
        height: 54px;
        left: 64.49px;
        top: 12px;
    }

    // .background--header{
    //     position: relative;
    //     width: 100vw;
    //     left: 3px;
    //     top: 72px;
    // }

    // .background--footer{
    //     position: relative;
    //     width: 100vw;
    //     top: 795px;
    // }

    .grid--task{
        display: grid;
        grid-template-columns: 2fr 2fr ;
        grid-gap: 20px 70px;
        padding: 50px;
    }

    .right{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .left{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    

    .text{
        font-size: 20px;
        line-height: 150%;
    }
    .text--intro{
        color: white;
        line-height: 150%;
        max-width: 43ch;
        padding-bottom: 121px;

    }

    .text--student{
        color: $color--grey;
        line-height: 150%;
        max-width: 40%;
    }

    
    .button{
        margin: 10px 15vw 10px;
    }

    .btn__loading{
        left: 25%;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px 70px;
        padding: 50px;
    }
    .section{
        width: 100%;
    }
    .section--intro{
        background-image: url("../assets/images/bg-header.png");
        background-repeat: no-repeat;
        background-size: 100vw;
    }

    .section--main{
        margin-left: 47px;
    }

    .section--footer{
        background-color: $color--purple;
    }

    .layout{
        margin: 47px 25px;
    }

    .footer--el{
        padding: 7px 0px;
        margin: 0;
    }

    .footer--list{
        list-style: none;
        padding: 0;
    }

    .dwt{
        width: 60px;
    }
}