@import 'utils/variables';
@import 'components/type';
@import 'layout/title';
@import 'layout/list';
@import 'layout/layout';
@import 'layout/diary';
@import '../../node_modules/modern-normalize/modern-normalize';
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.title{
    font-family: 'Averia Sans Libre', cursive;
    margin-left: 10px;

    &--first{
        margin: 8px 11px 5px;
    }

    &--subtitle{
        font-size: 38px;
        line-height: 1.5;
        color: $color--purple;
    }

    &--audit{
        color: $color--purple;
        margin-left: 25px;
        font-size: 31px;
    }
    
    &__big{
        padding-top: 166px;
        font-size: 109px;
        color: $color--white;
        text-align: center;

        &--uikit{
            color: $color--purple;
            font-size: 58px;
            line-height: 1.5;
            margin-top: 135px;
        }
        &--casestudy{
            font-size: 98px;
            line-height: 1.5;
            color: $color--white;
            margin-bottom: 38px;
        }
    }

    &__small{
        font-size: 47px;
        line-height: 150%;

        &--subtitle{
            font-size: 31px;
            line-height: 140%;
            text-align: center;
            color: $color--white;
            
        }
        &--subtitle-cs{
            font-size: 31px;
            line-height: 140%;
            text-align: center;
            color: $color--white;
            padding-bottom: 79px;
        }

        &--healthy{
            color: $color--purple;
            margin: 135px 10px 58px;
        }

        &--student{
            left: 30%;
            top: 50%;
            color: $color--purple;
        }

        &--loading{
            color: $color--white;
            margin: 58px 20px 34px;
                text-align: center;
        }

        &--card{
            color: $color--purple;
            font-size: 25px;
        }

        &--subtitleCard{
            color: $color--grey;
            font-size: 20px;
        }

        &--credits{
            color: $color--purple;
            margin-top: 22vh;
        }

        &--uikit{
            color: $color--purple;
            margin-top: 22vh;
        }

        &--casestudy{
            color: $color--purple;
            text-align: center;
        }

    }
}

@media (min-width: 1000px) {
    .title{
        font-family: 'Averia Sans Libre', cursive;
        margin-left: inherit;

        &--subtitle{
            font-size: 38px;
        }
        
        &__big{
            font-size: 109px;
            left: 23%;
            color: $color--white;
            margin-left: 15%;
            text-align: inherit;

            &--uikit{
                color: $color--purple;
            }
        }

        &__small{
            font-size: 47px;


            &--subtitle{
                font-size: 38px;
                max-width: 42vw;
                text-align: center;
                color: $color--white;
            }

            &--healthy{
                color: $color--white;
            }

            &--student{
                color: $color--purple;
            }

            &--loading{
                color: $color--white;
                display: flex;
                justify-content: space-around;
                padding-top: 34px;
            }

            &--card{
                color: $color--purple;
                font-size: 25px;
            }

            &--subtitleCard{
                color: $color--grey;
                font-size: 20px;
            }

            &--casestudy{
                color: $color--purple;
                text-align: inherit;
            
            }

            
        }
    }
}
