.title{
    font-family: 'Averia Sans Libre', cursive;
    margin-left: 10px;

    &--first{
        margin: 8px 11px 5px;
    }

    &--subtitle{
        font-size: 38px;
        line-height: 1.5;
        color: $color--purple;
    }
    
    &__big{
        padding-top: 166px;
        font-size: 109px;
        color: $color--white;
        text-align: center;

        &--credits{
            color: $color--purple;
            font-size: 58px;
            line-height: 1.5;
            margin-top: 135px;
        }
    }

    &__small{
        font-size: 47px;
        line-height: 150%;

        &--subtitle{
            font-size: 31px;
            line-height: 140%;
            text-align: center;
            color: $color--white;
        }

        &--healthy{
            color: $color--purple;
            margin: 135px 10px 58px;
        }

        &--student{
            left: 30%;
            top: 50%;
            color: $color--purple;
        }

        &--loading{
            color: $color--purple;
            margin: 58px 20px 34px;
                text-align: center;
        }

        &--card{
            color: $color--purple;
            font-size: 25px;
        }

        &--subtitleCard{
            color: $color--grey;
            font-size: 20px;
        }
    }
}

@media (min-width: 1000px) {
    .title{
        font-family: 'Averia Sans Libre', cursive;

        &--subtitle{
            font-size: 38px;
        }
        
        &__big{
            font-size: 109px;
            left: 23%;
            color: $color--white;
            margin-left: 25%;

            &--credits{
                color: $color--purple;
            }
        }

        &__small{
            font-size: 47px;

            &--subtitle{
                left: 2%;
                font-size: 38px;
                max-width: 42vw;
                text-align: center;
                color: $color--white;
            }

            &--healthy{
                left: 10%;
                top: 58%;
                color: $color--white;
            }

            &--student{
                left: 30%;
                top: 50%;
                color: $color--purple;
            }

            &--loading{
                left: 50%;
                top: 78%;
                color: $color--white;
            }

            &--card{
                color: $color--purple;
                font-size: 25px;
            }

            &--subtitleCard{
                color: $color--grey;
                font-size: 20px;
            }
        }
    }
}
